# Ignore autoconf files
aclocal.m4
autom4te.cache
compile
configure
config.h
config.status
depcomp
install-sh
missing
stamp-h1

**/*.in
**/Makefile
**/.deps/
**/*.o

# Editor temporary files
**/*.swp

# Various files
**/*.log

# Package artifacts
fornax/fornax
